body {
    font-family: 'Open Sans', sans-serif;
}

h2.welcome {
    text-align: left;
}

main {
    display: flex;
    justify-content: center;
}

.parent {
    display: grid;
    grid-template-rows: fit-content(100%);
    grid-template-columns: 1fr 1fr;

}


.intro-text {
    background-color: #1f4954;
    
}


.intro-text p {
    color: #ffffff;
    font-weight: 300;
}

.intro-pic {

}
