body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

.parent {
    display: grid;
    grid-template-rows: 960px;
    grid-template-columns: 480px 480px;

}


.intro-text {
    background-color: #1f4954;
    
}


.intro-text p {
    color: #ffffff;
    font-weight: 300;
}

.intro-pic {

}
